<template lang="html">
  <v-row justify="center">

    <v-col cols="10" md="6" class="text-center">
      <div v-if="!editing">
        <v-icon
          v-if="showLeftChevron"
          @click="changeActiveDashboard('take')"
          :large="$vuetify.breakpoint.smAndUp"
        >
          mdi-chevron-left
        </v-icon>

        <h1
          @click="editing=true"
        >
          {{dashTitle}}
        </h1>

        <v-icon
          v-if="showRightChevron"
          @click="changeActiveDashboard('add')"
          :large="$vuetify.breakpoint.smAndUp"
        >
          mdi-chevron-right
        </v-icon>
      </div>

      <v-form v-click-outside="clickedOutside" ref="form" v-if="editing" @submit="titleSubmitted">
        <v-text-field
          autofocus
          v-model="helperTitle"
          :rules="dashTitleRules"
        ></v-text-field>
      </v-form>
    </v-col>

    <v-col cols="2" class="plusicon">
      <v-icon
      @click="addNewDashboard"
      :large="$vuetify.breakpoint.smAndUp"
      color="green"
      >mdi-plus</v-icon>
    </v-col>
  </v-row>
</template>

<script>
import ClickOutside from 'vue-click-outside'

export default {
  data(){
    return{
      helperTitle: "Add new title here",
      editing: false,
      dashTitleRules: [
        v => !!v || 'No dashboard without title',
        v => (v && v.length <= 20) || 'Max 20 chars, please',
      ],
    }
  },
  computed:{
    dashTitle(){
      return this.activeDash.title
    },
    activeDash(){
      return this.$store.getters.getActiveDashBoard
    },
    activeDashPosition(){
      return this.$store.state.dashboards.indexOf(this.activeDash)
    },
    showLeftChevron(){
      if (this.activeDashPosition!==0) {
        return true;
      }
      else return false;
    },
    showRightChevron(){
      if (this.activeDashPosition<this.$store.state.dashboards.length-1) {
        return true;
      }
      else return false;
    }
  },
  methods:{
    titleSubmitted(e){
      e.preventDefault();
      if (this.$refs.form.validate() ) {
        this.$store.dispatch('setActiveDashTitle',{id: this.activeDash.id, title: this.helperTitle} )
        this.editing = false;
        this.helperTitle = "Add new title here"
      }
    },
    clickedOutside(){
      this.editing=false;
    },
    changeActiveDashboard(method){
      let dashID;
      if (method=='add') {
        dashID = this.$store.getters.getIdOfDashBoardFromArrayPosition(this.activeDashPosition+1)
      }else{
        dashID = this.$store.getters.getIdOfDashBoardFromArrayPosition(this.activeDashPosition-1)
      }
      this.$store.dispatch('changeActiveDashboard', dashID)
    },
    addNewDashboard(){
      this.$store.dispatch('addNewDashboard');
    }
  },
  directives: {
    ClickOutside,
  },
  mounted () {
    // prevent click outside event with popupItem.
    this.popupItem = this.$el;
  },
}
</script>

<style lang="scss" scoped>
h1{
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  @media(max-width:600px){
    font-size: 16px;
  }
}

.mdi-chevron-left,
.mdi-chevron-right{
  display: inline-block;
  margin-bottom: 12px;

  @media(max-width:600px){
    margin-bottom: 0px;
  }
}

.plusicon{
  // vertical-align: middle;

  .v-icon{
    display: inline-block;
    vertical-align: middle;
    margin-top: 2px;

    @media(max-width:600px){
      margin-top: -2px;
    }
  }
}

.v-icon::after{
  display: none !important;
}

</style>
