<template lang="html">
  <v-row class="text-center">
    <v-col class="text-center">
      <v-btn color="green" dark @click="addWidget" fab small>
        <v-icon>mdi-plus</v-icon>
      </v-btn>
      <span class="">
        WIDGETS
      </span>
    </v-col>
  </v-row>
</template>

<script>
export default {
  methods:{
    addWidget(){
      this.$store.dispatch('addWidget', this.$store.getters.getActiveDashBoard.id)
    },
  }
}
</script>

<style lang="scss" scoped>
</style>
