<template lang="html">
  <v-row justify="center">
    <v-col v-for="widget in activeDash.widgets" :key="widget.id">
      <Widget
        :widget="widget"
        @delete="deleteWidget(activeDash.id, widget.id)"
        @select="selectWidget(activeDash.id, widget.id)"/>
    </v-col>
  </v-row>
</template>

<script>
import Widget from '@/components/Widgets/Widget.vue';

export default {
  computed:{
    activeDash(){
      return this.$store.getters.getActiveDashBoard
    }
  },
  components:{
    Widget,
  },
  methods:{
    deleteWidget(dashID, widgetID){
      this.$store.dispatch('deleteWidget', {dashID, widgetID})
    },
    selectWidget(dashID, widgetID){
      this.$store.dispatch('selectWidget', {dashID, widgetID})
    },
  }
}
</script>

<style lang="scss" scoped>
</style>
