<template lang="html">
  <BaseWidgetLayout>
    <div class="insidewidget"
      @mouseover="widgetHovered"
      @mouseleave="widgetLeft"
    >
      <v-toolbar
        color="rgba(255,99,71,0.3)"
        absolute top width="100%"
        v-if="showToolBar">
          <v-icon color="red d-block" @click="deleteWidget">mdi-delete</v-icon>
          <v-icon color="green d-block" @click="editWidget">mdi-pencil</v-icon>
          <v-icon color="orange d-block" @click="changeWidget">mdi-reload</v-icon>
      </v-toolbar>

      <div v-if="!changing">
        <TextSticky :widget="widget" v-if="widget.type==='text' "/>
        <ImageSticky :widget="widget" v-if="widget.type==='image' "/>
        <LinkSticky :widget="widget" v-if="widget.type==='link' "/>
        <TimezoneSticky :widget="widget" v-if="widget.type==='timezone' "/>
        <TodoSticky :widget="widget" v-if="widget.type==='todo' "/>

        <v-card-actions>

        </v-card-actions>
      </div>

      <WidgetForm
        v-if="changing || editing"
        @dismissed="finish"
        :key="new Date(Date.now()).toString()"/>

    </div>
  </BaseWidgetLayout>
</template>

<script>
import BaseWidgetLayout from '@/components/Layout/BaseWidgetLayout';
import WidgetForm from '@/components/Widgets/WidgetForm.vue'
import ImageSticky from './Stickies/ImageSticky.vue'
import TextSticky from './Stickies/TextSticky.vue'
import LinkSticky from './Stickies/LinkSticky.vue'
import TimezoneSticky from './Stickies/TimezoneSticky.vue'
import TodoSticky from './Stickies/TodoSticky.vue'

export default {
  props: ['widget'],
  data(){
    return{
      editing: false,
      changing: false,
      showToolBar: false,
    }
  },
  components:{
    BaseWidgetLayout,
    WidgetForm,
    ImageSticky,
    TextSticky,
    LinkSticky,
    TimezoneSticky,
    TodoSticky,
  },
  methods:{
    deleteWidget(){
      this.$emit('delete')
    },
    editWidget(){
      this.editing = true;
      this.$emit('select')
    },
    changeWidget(){
      this.changing = true;
      this.$emit('select')
    },
    submitWidget(e){
      e.preventDefault();
    },
    finish(){
      this.editing = false;
      this.changing = false;
    },
    widgetHovered(){
      this.showToolBar = true;
    },
    widgetLeft(){
      this.showToolBar = false;
    }
  },
  computed:{

  }
}
</script>

<style lang="scss" scoped>
.insidewidget{
  min-height: 200px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:space-around;
}

.v-toolbar{
  display: flex;
  justify-content: center;


  .v-icon{
    display: block;
    margin: 0px 15px;
  }
}

</style>
