<template lang="html">
  <v-dialog overlay-opacity="1" v-model="dialog" persistent width="400" >
    <v-card color="yellow lighten-2">
      <v-card-title class="headline mx-auto">Create your custom widget!</v-card-title>

      <div class="mx-auto formincard">
        <v-form
        @submit.prevent="saveInfo"
        ref="form"
        >
          <v-radio-group v-if="widgetinfo.type==null" v-model="widgetinfo.type">
             <v-radio
               label="Text"
               value="text"
             ></v-radio>
             <v-radio
               label="Image"
               value="image"
             ></v-radio>
             <v-radio
               label="Link"
               value="link"
             ></v-radio>
             <v-radio
               label="Todo-list"
               value="todo"
             ></v-radio>
             <v-radio
               label="Timezone"
               value="timezone"
             ></v-radio>
          </v-radio-group>

          <div v-if="widgetinfo.type==='text'">
            <v-text-field
              v-model="widgetinfo.title"
              label="Do you need a title for this?"
              maxlength="40"
              counter="40"
            ></v-text-field>

            <v-text-field
              v-model="widgetinfo.text"
              label="Type text here"
              :rules="textRules"
              counter="120"
            ></v-text-field>
          </div>

          <div v-if="widgetinfo.type==='link'">
            <v-text-field
              v-model="widgetinfo.title"
              label="Type title here"
              :rules="titleRules"
              counter="40"
            ></v-text-field>

            <v-text-field
              v-model="widgetinfo.link"
              label="Insert link here"
              :rules="linkRules"
              counter="120"
            ></v-text-field>
          </div>

          <div v-if="widgetinfo.type==='image'">
            <v-text-field
              v-model="widgetinfo.imagelink"
              label="Put your imagelink here"
              :rules="linkRules"
              counter="120"
            ></v-text-field>
          </div>

          <div v-if="widgetinfo.type==='timezone'">
            <v-text-field
              v-model="widgetinfo.title"
              label="Who/what belongs to this timezone?"
              :rules="titleRules"
              counter="40"
            ></v-text-field>

            <v-select
              :items="$store.getters.timezoneList"
              label="Standard"
              v-model="widgetinfo.timezone"
             ></v-select>
          </div>

          <div v-if="widgetinfo.type==='todo'">
            <v-text-field
              v-model="widgetinfo.title"
              label="What kind of todo-list is this?"
              :rules="titleRules"
              counter="40"
            ></v-text-field>
            <v-form ref="todoform" @submit.prevent="addTodoItem">
              <div v-if="widgetinfo.todos">
                <ul class="">
                  <li v-for="(todo,i) in widgetinfo.todos" :key="i">{{todo}}</li>
                </ul>
              </div>
              <v-text-field
                v-model="todoHelper"
                label="Add todo"
                :rules="titleRules"
                counter="40"
              ></v-text-field>
              <v-btn @click="addTodoItem">Add</v-btn>
            </v-form>
          </div>

        </v-form>
      </div>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="green darken-1" text @click="dismissDialog">Cancel</v-btn>
        <v-btn color="green darken-1" text @click="saveInfo">Save</v-btn>
      </v-card-actions>
    </v-card>
</v-dialog>
</template>

<script>


export default {
  data(){
    return {
      dialog : true,
      widgetinfo: {
        type: null,
        text: '',
        link: '',
        imagelink: '',
        title: '',
        timezone: '',
        todos: [],
      },
      textRules:[
        v => !!v || 'We need some text here',
        v => (v && v.length <= 120) || '120 chars max, sorry',
      ],
      linkRules:[
        v => !!v || 'We need some text here',
        v => (v && v.length <= 120) || '120 chars max, sorry',
      ],
      titleRules:[
        v => !!v || 'We need some text here',
        v => (v && v.length <= 40) || '40 chars max, sorry',
      ],
      todoHelper: '',
    }
  },
  methods:{
    dismissDialog(){
      this.$emit('dismissed')
    },
    saveInfo(){
      if (this.$refs.form.validate()) {
        this.$emit('dismissed')
        let newobj = {...this.widgetinfo, utcoffset:this.utcoffset}
        this.$store.dispatch('changeWidget', newobj)
      }
    },
    addTodoItem(){
      this.widgetinfo.todos.push(this.todoHelper);
      this.todoHelper = '';
    },
  },
  computed:{
    utcoffset(){
      if (this.widgetinfo.timezone.length>0) {
        return this.$store.getters.getOffsetFromZoneId(this.widgetinfo.timezone)
      }else{
        return ''
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.formincard{
  width: 80%;
}
</style>
