<template lang="html">
  <v-card
    min-width="200"
    min-height="200"
    max-width="300"
    color="yellow lighten-2"
    class="mx-auto"
    elevation="5"
  >

  <!-- this contains the inside of the 'post-it' -->
    <slot></slot>


  </v-card>
</template>

<script>
export default {
}
</script>

<style lang="scss" scoped>
</style>
