<template lang="html">
  <div v-if="$store.state.timezoneinfo.length>0" class="text-center timezonesticky">
    <h2>{{widget.title}}</h2>
    <h3 class="">
      {{widget.timezone}}
    </h3>
    <div class="">
      UTC{{widget.utcoffset[0] != '-' ? '+' : ''}}{{widget.utcoffset}}
    </div>
    <div class="title">
      {{myTime}}
    </div>
  </div>
</template>

<script>
let interv;

export default {
  props: ['widget'],
  data(){
    return{
      myTime: 0,
    }
  },
  methods:{
    startClock(){
        interv = setInterval(()=>{
        this.myTime = new Date().toLocaleString("en-US", {timeZone: `${this.widget.timezone}`});
        // this.myTime = new Date(this.myTime).toLocaleString();
        this.myTime = this.myTime.split(',')[1]
      }, 1000)
    }
  },
  created(){

  },
  mounted(){
    this.startClock()
  },
  beforeDestroy(){
    clearInterval(interv);
  }
}
</script>

<style lang="scss" scoped>

</style>
