<template lang="html">
  <div class="">
    {{widget.title}}
    <ul>
      <li v-for="(todo,i) in widget.todos" :key="i"></li>
    </ul>
  </div>
</template>

<script>
export default {
  props: ['widget'],
}
</script>

<style lang="scss" scoped>
</style>
