<template lang="html">
  <div>
    <DashNav v-if="!$store.getters.cardEditingOn" />
    <DashBoard />
    <WidgetSelect v-if="!$store.getters.cardEditingOn" />
  </div>
</template>

<script>
import DashNav from '@/components/DashNav/DashNav.vue'
import DashBoard from '@/components/DashBoard/DashBoard.vue'
import WidgetSelect from '@/components/WidgetSelect/WidgetSelect.vue'

export default {
  components:{
    WidgetSelect,
    DashBoard,
    DashNav
  }
}
</script>

<style lang="scss" scoped>
</style>
