<template lang="html">
  <v-row class="">
    <Widgets />
  </v-row>
</template>

<script>
import Widgets from '@/components/Widgets/Widgets.vue';

export default {
  components:{
    Widgets,
  }
}
</script>

<style lang="scss" scoped>
</style>
