<template>
  <v-app>

    <!-- Sizes your content based upon application components -->
    <v-content>

      <!-- Provides the application the proper gutter -->
      <v-container fluid>
        <Dashy />
      </v-container>

    </v-content>

  </v-app>

</template>

<script>
import Dashy from '@/components/Dashy.vue'

export default {
  name: 'App',

  components: {
    Dashy,
  },

  data: () => ({
    //
  }),
  created(){
    this.$store.dispatch('setTimeZoneInfo')
  }
};
</script>

<style lang="scss">
@import "@/styles/global.scss";


</style>
